@import "../../../assets/sass/variables";
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0;
  outline: 1px solid;
  .text {
    margin: 0 auto;
    font-size: 17px;

    @media (max-width: 655px) {
      width: 100%;
      margin: 40px 0;
      font-family: "Book";
    }
    span {
      font-size: 17px;
      margin-left: 10px;
    }
  }

  .links {
    // outline: 1px solid red;

    @media (max-width: 655px) {
      display: grid;
      width: 100%;
    }
    a {
      text-decoration: none;
      color: $grey;
      margin: 0 15px;
      font-family: "Book";
      font-size: 17px;
      @media (max-width: 655px) {
        margin: 10px 0;
      }
    }
  }
}

.pxw {
  outline: 1px solid red;
  display: block;

  @media (max-width: 490px) {
    width: 100%;
  }
}
