.personal-pro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  // outline: 1px solid green;

  .project {
    // outline: 1px solid red;
  }
  // justify-content: space-evenly;
}
