@import "../../../assets/sass/variables";

.about {
  padding: none;

  @media (max-width: 655px) {
  }

  &-skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
