@import "../../../assets/sass/variables";

.ca-homeHeader {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-content {
    margin-top: auto;
    @media (max-width: 655px) {
      margin-top: 70px;
    }
    .ca-emoji {
      span {
        padding-left: 8px;
        display: block;
        font-size: 50pt;
        animation: waver 0.65s alternate infinite;
        animation-timing-function: ease-in-out;
        width: 20px;
        // outline: 1px solid red;
        @media (max-width: 655px) {
          font-size: 30pt;
        }
      }
    }

    .ca-heading {
      max-width: 800px;
      margin-bottom: 50px;

      &-big {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        color: $primary;
        font-size: 60px;
        line-height: 65px;

        @media (max-width: 655px) {
          font-size: 30px;
          line-height: 44px;
        }
      }

      .ca-sub-heading {
        font-size: 22px;
        line-height: 34px;
        font-weight: 300;
        margin-top: 20px;
        color: $grey;
      }
    }
  }

  &-footer {
    margin-top: auto;
    padding-bottom: 20px;
    .more {
      margin-right: auto;
      display: flex;

      span {
        display: block;
      }

      .scroll-down {
        animation: scroller 0.5s alternate infinite;
        position: relative;
        cursor: pointer;
        display: block;
      }
      @media (max-width: 655px) {
        display: none;
      }
    }
  }
}

// Animations

@keyframes waver {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes scroller {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, -5px);
  }
}
