// Content styling
@import "../partials/em";

.content {
  display: flex;
  justify-content: center;
  margin: em(10);
  outline: 1px solid red;

  &-data {
    min-height: calc(100vh - 180px);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    outline: hidden;
    outline: 1px solid red;
  }

  .right,
  .left {
    width: 45%;
    border: 1px solid black;
  }

  .left {
    font-size: em(18);
    border-right: 1px solid red;
    padding-right: em(20);
  }

  .right {
    padding-left: em(20);
  }
  .divider {
    width: 5%;
    height: 1px;
    border-radius: em(100);
    border: none;
    transform: rotate(90deg);
    background: $ash;
  }
}

* {
  // outline: 1px dotted green;
}
