// Content styling
@import "../partials/em";

.content {
  display: flex;
  justify-content: center;
  margin: em(20);
  outline: 1px solid red;

  &-data {
    min-height: calc(100vh - 180px);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    outline: hidden;
    outline: 1px solid red;
  }

  .right,
  .left {
    width: 45%;
    // height: 200px;
    padding: em(10) 0;
  }

  .left {
    font-size: em(18);
    border-right: 1px solid $primary;
    padding-right: em(20);
  }

  .right {
    padding-left: em(20);

    .stacks {
      outline: 1px solid red;
    }


  }
}

* {
  // outline: 1px dotted green;
}
