// Content styling
@import "../partials/em";
* {
  // outline: 1px solid $accent;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  font-size: 13px;
  @media (max-width: em(908)) {
    margin-top: em(100);
  }
  &-data {
    min-height: calc(90vh - 240px);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    outline: hidden;

    @media (max-width: em(536)) {
      width: 100%;
    }
  }

  .right,
  .left {
    width: 45%;
    padding: em(10) 0;
    @media (max-width: em(536)) {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    @media (max-width: em(865)) {
      width: 100%;
    }
  }

  .left {
    font-size: em(18);
    border-right: 1px solid #d6d6d6;
    padding-right: em(20);
    font-family: "sans";

    @media (max-width: em(865)) {
      width: 100%;
      border-bottom: 1px solid #d6d6d6;
      border-right: 0;
      padding: 0;
      margin: 0;
    }
    p {
      margin: em(10);
      transition: 0.2s ease;

      &:hover {
        color: $ash;
        span {
          color: $secondary;
        }
      }
    }
    span {
      color: $accent;
    }

    .wave {
      font-size: em(18);
    }

    .about {
      line-height: em(25);
    }
  }

  .right {
    padding-left: em(40);

    @media (max-width: em(865)) {
      padding: em(10);
      margin-bottom: em(70);
      margin-top: em(20);
    }

    .stacks {
      h2 {
        font-size: em(30);
        font-weight: 100;
        margin-bottom: em(10);
      }

      .stack {
        span {
          margin: em(5) 0;
          font-size: em(16);
          display: inline-block;
        }

        &-key {
          padding-right: em(5);
          font-family: "sans";
          color: $accent;
          font-weight: bold;
          width: 100px;
        }
        &-data {
          font-family: "sans";
          &:hover {
            color: lighten($color: $ash, $amount: 20);
            text-decoration: line-through;
          }
        }
      }
    }
  }
}

* {
  // outline: 1px dotted green;
}
.bg {
  position: fixed;
  width: 100%;
  z-index: -100;
  display: flex;
  justify-content: flex-end;
  // outline: 1px solid red;
  bottom: em(-20);
  left: 120px;

  svg {
    transform: rotate(14deg);
  }

  @media (max-width: em(908)) {
    display: none;
  }
}

.social {
  // outline: 1px solid red;
  margin-bottom: 50px;
  .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
      list-style: none;
      margin: em(15) em(15) 0 em(15);
      &:hover {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }

      &:first-child {
        margin-left: 0;
      }
      a {
        svg {
          width: em(25);
          height: em(25);
          fill: #142025;
        }
      }
    }

    // website link
    .mail {
      fill: $accent;
    }

    // dribbble link
    .dribbble {
      fill: #ea4c89;
    }

    // github link
    .github {
      fill: #333;
    }

    // twitter
    .twitter {
      fill: #1da1f2;
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
