// Navigation styling
@import "../partials/em";

// Header styling
.header {
  outline: 1px solid red;
  // height: em(90);

  padding: em(30);
}

nav {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  .nav-brand {
    margin-right: auto;
  }

  .nav-items {
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        margin: 0 em(15);

        li {
          position: relative;
          list-style-type: none;
          font-size: em(16);
        }
      }
    }
  }
}

.active {
  &::before {
    width: 105%;
  }
}
