// Navigation styling
@import "../partials/em";

// Header styling
.header {
  padding: em(30);

  @media (max-width: em(536)) {
    padding: em(10);
  }
}

nav {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;

  .brand-logo {
    font-size: em(23);
    color: $accent;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      letter-spacing: 2px;
    }

    span {
      color: $secondary;
    }
  }

  .nav-brand {
    margin-right: auto;
    margin-left: em(30);

    @media (max-width: em(536)) {
      margin-left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      * {
        margin: em(5) 0;
      }

      .name {
        font-size: em(22);
      }
      .title {
        font-size: em(13);
      }
    }
  }

  .nav-items {
    @media (max-width: em(536)) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .router-link-exact-active {
        &::before {
          width: 100%;
        }
      }

      a {
        margin: 0 em(15);

        li {
          position: relative;
          list-style-type: none;
          font-size: em(17);
          color: $ash;
        }
      }
    }
  }
}

// Footer styling

@media (max-width: em(536)) {
  .footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
    // display: block;
    * {
      font-family: "sans";
    }
  }

  .footer-nav {
    padding: em(10);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .router-link-exact-active {
      span {
        color: $secondary;
      }
    }

    .footer-nav-item {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }
}
