.hero {
  font-size: em(25);
  text-align: center;
  margin-bottom: em(25);
  p {
    font-weight: 100;

    &:last-child {
      color: $ash;
      font-size: em(10);

      .stack {
        margin: 0 em(2);
        font-size: em(10);
        background: $accent;
        color: white;
        border-radius: em(3);
        border: 0;
        color: white;
        padding: em(3) em(7);
      }
    }
    .link {
      font-size: em(10);
      margin: 0 em(5);
    }
  }
}

.previous {
  margin-top: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding-bottom: em(50);
  h1 {
    font-weight: 300;
    color: $accent;
    text-align: center;
    margin-bottom: em(20);

    span {
      font-size: em(10);
      position: relative;
      top: -2px;
    }
  }

  .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .project {
    margin: 0 em(25) em(40) 0;
    width: 300px;
    cursor: text;
    transition: 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0, 0, 0, 0.15);
    min-height: em(140);
    padding: em(5) em(20);
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15);
    }

    @media (max-width: em(425)) {
      margin: em(20) 0;
    }

    &-details,
    &-description,
    &-stacks {
      margin: 20px 0;
    }

    &-details {
      display: flex;
      justify-content: flex-start;
      align-content: center;
      font-family: "Avenir";
      .name {
        text-transform: capitalize;
        font-size: em(20);
        color: $primary;
        margin-left: em(10);
      }

      img {
        width: em(20);
        height: em(20);
      }
    }

    &-description {
      color: $primary;
      font-family: "Sans";
    }

    &-stacks {
      ul {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        font-family: "Avenir";

        li {
          list-style: none;
          padding: em(3) em(7);
          background: $accent;
          color: white;
          font-size: 15px;
          margin: 0 5px;
          border-radius: 3px;
          box-shadow: 0 5px 20px -7px $accent;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
