.hero {
  font-size: em(30);
  outline: 1px solid red;
  p {
    font-weight: 100;
    margin-left: em(15);
    &:last-child {
      margin-left: em(23);
      color: $ash;
      font-size: em(10);

      .stack {
        margin: 0 em(2);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
        font-size: em(10);
        background: $secondary;
        color: white;
        padding: em(2) em(7);
        border-radius: em(3);
        border: 0;
      }
    }
    .link {
      font-size: em(10);
      margin: 0 em(5);
    }
  }
}

.previous {
  margin-top: em(40);
  padding-left: em(30);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-bottom: em(50);

  h1 {
    font-weight: 100;
  }

  .projects {
    display: flex;
    flex-flow: row wrap;
  }
  .project {
    margin: em(30) em(20) 0 0;
    width: 350px;
    cursor: text;
    transition: 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0, 0, 0, 0.15);
    min-height: em(100);
    padding: em(5) em(20);
    border: 1px solid rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15);
    }

    &-details,
    &-description,
    &-stacks {
      margin: 20px 0;
    }

    &-details {
      display: flex;
      justify-content: flex-start;
      align-content: center;

      .name {
        text-transform: capitalize;
        font-size: em(20);
        color: $primary;
        margin-left: em(10);
      }

      img {
        width: em(20);
        height: em(20);
      }
    }

    &-description {
      color: $primary;
    }

    &-stacks {
      span {
        padding: em(2) em(7);
        border: 1px solid $secondary;
        text-transform: lowercase;
        transition: 0.2s ease;
        color: $secondary;
        border-radius: em(3);
        &:first-child {
          margin: 0;
        }
        &:hover {
          background: $secondary;
          color: white;
        }
      }
    }
  }
}
