// Button Styling

@import "../../assets/sass/variables";

button {
  border: 2px solid $primary;
  width: 193.9px;
  position: relative;
  padding: 12px 25px;
  font-size: 15.8px;
  cursor: pointer;
  background: white;
  color: black;
  display: block;
  transition: ease-out 0.7s;
  box-shadow: inset 0 0 0 0 $primary;

  &:hover {
    box-shadow: inset 400px 0 0 0 $primary;
    color: white;
  }
}

// Header styling
.ca-header {
  height: 20px;
  // outline: 1px solid green;
  .ca-routes {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-content: center;
  }
}

// Logo styling
.ca-logo {
  margin-right: auto;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  cursor: pointer;
  background: white;
  transition: 0.3s ease-in-out;

  &:hover {
    border: 2px solid $secondary;
    color: $secondary;
  }

  div {
    font-size: 20px;
  }
}

// Layout Styling
.ca-layout {
  height: 100vh;
  outline: 1px solid red;
  background-image: -webkit-radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-image: -moz-radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-image: radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-color: red;
  background-size: 28px 28px;
  .ca-layout-children {
    height: 100vh;
  }
}
