@import "./assets/sass/variables";

@font-face {
  font-family: "geo";
  src: url("./assets/fonts/geo.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Book";
  src: url("./assets/fonts/CircularBook.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/CircularBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: "italic";
  src: url("./assets/fonts/OperatorMono-BookItalic.otf");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
  scroll-behavior: smooth;
  background-image: -webkit-radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-image: -moz-radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-image: radial-gradient(
    circle,
    #d7d7d7,
    #d7d7d7 1px,
    #fff 1px,
    #fff
  );
  background-size: 28px 28px;

  @media (max-width: 375px) {
    // padding: 30px;
    background: white;
  }
}

* {
  // outline: 1px solid green;
}

.ca-heading-big {
  font-family: "Bold", $defaultFont;
}

.ca-sub-heading {
  font-family: "Book";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.padding {
  padding: 40px 90px;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}
.padding-side {
  width: 85vw;
  margin-right: auto;
  margin-left: auto;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}

ul {
  li {
    list-style: none;
  }
}

.link {
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid $primary;
  }
}

.link-inverse {
  padding-bottom: 8px;
  border-bottom: 2px solid $primary;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
  }
}

a {
  text-decoration: none;
  color: $primary;
}
