@import "./assets/sass/variables";

@font-face {
  font-family: "Book";
  src: url("./assets/fonts/ciruclar.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "alegreya";
  src: url("./assets/fonts/geo.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary;
  scroll-behavior: smooth;
  background-color: #e6edf1;
}
.ca-heading-big {
  font-family: "alegreya", $defaultFont;
}

.ca-sub-heading {
  font-family: "Book";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.padding {
  padding: 40px 90px;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}
.padding-side {
  width: 85vw;
  margin-right: auto;
  margin-left: auto;
}
.padding-top {
  padding-top: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}

ul {
  li {
    list-style: none;
  }
}

.link {
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  font-family: "Book", $defaultFont;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid $primary;
  }
}

.link-inverse {
  padding-bottom: 8px;
  border-bottom: 2px solid $primary;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  display: inline-table;

  &:hover {
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
  }
}

a {
  text-decoration: none;
  color: $primary;
}

.relative {
  position: relative;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

.z11 {
  z-index: 11;
}
