// Base variables
// height: 200px;
$primary: #203541;
$secondary: #f62a66;
$ash: #456173;
$accent: #1a2c5b;
$defualtFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Default font
@font-face {
  font-family: "Sans";
  src: url("../fonts/sans.ttf");
  font-weight: normal;
  font-display: auto;
  -webkit-font-smoothing: antialiased;
}
